[2013-04-04 20:28] mlewis9548 opened #3 "Parse IN operator"
If you are interested in including an IN operator parser, this parser takes an IN operator and translates it into a series of OrElse. Example x in (1,2,3,4)

[code]

[2014-07-27 06:06] dradovic opened #8 "Documentation"
Would it make sense to somewhere include the "Dynamic Expressions.html" which is included in the original release (http://msdn.microsoft.com/en-US/vstudio/bb894665.aspx)? For example, it could be added to the wiki of this page as a documentation readily available for people who want to use this library.

[2014-09-30 04:52] dstream opened #10 "order by multi columns"
I have a problem with order by multi column, it didn't  work for me.
When i use: OrderBy("Field1 DESC"), it worked,
but when use OrderBy("Field1 DESC, Field2 DESC,Field3 DESC"), it didn't worked.

[2014-12-04 15:37] programcsharp opened #13 "Look at/integrate DynamicLinq+"
I just ran across this project: https://code.google.com/p/dynamic-linq/ -- looks to have not been updated in awhile, but it adds some nice features to DynamicLinq:

 - new Namespace.Type(expr as property_name) grammar
 - new @0(expr as property_name) with Type given as placeholder grammar, i.e Select("new @0(.....)", typeof(SomeType))
 - Select<OutputType>("....") which returns IQueryable<OutputTy

[2015-01-08 16:23] mfarahy opened #14 "calling user-defined aggregate function from dynamicLinq"
hi

I create user-defined aggregate function in sql server and my question is how can i call my function via DynamicLinq ?

[2015-01-08 16:46] kahanu commented on #14
@mfarahy - I simply make this assembly available via NuGet.  You would do better to post this question on stackoverflow.com.  Sorry.  Good luck.

[2015-01-08 16:46] #14 closed

[2015-02-07 05:21] Tiku123 opened #15 "Dynamic Linq with Where and ObjectParameter doesn't work"
I'm using System.Linq.Dynamic I have this code :
..........................................................................................
Imports System.Linq.Dynamic
Dim mylist As IQueryable(Of Myobject)
Dim ob1 As New List(Of ObjectParameter)
Dim dynstr as string=string.empty
 dynstr += "id= @id"
ob1.Add(New ObjectParameter("id", 26))
mylist=context.MyObjects.Where(dynstr,ob1.ToArray()).Tolist

[2015-02-07 06:29] kahanu commented on #15
@Tiku123 - you would probably get more help if you posted this question on stackoverflow.com.  I have just provided this library for use in NuGet and doing some simple maintenance, but I'm not the author of this package.

It's been years since I've worked in VB.Net so I can't tell if there is an error in your syntax for the "dynstr" variable, or if this is in fact an issue with the ObjectParameter

[2015-02-13 07:45] Kagamine commented on #13
Operator '=' incompatible with operand types 'Int32' and 'String'
where can I make a force convertion in 'System.Linq.Dynamic'?

[2015-02-13 07:52] kahanu commented on #13
Unless I misunderstand you, this isn't a Dynamic issue, you still need to cast the object to the correct type that you want.

[2015-02-13 07:55] Kagamine commented on #13
but in my project, the arguments are gained from Request.QueryString, and the type of them are System.String. If I just insert the params into expression without 'params object[]' it may cause inject problem. I want to write some lines to make a force convertion.

[2015-02-13 08:01] Kagamine commented on #13
![qq20150213-1](https://cloud.githubusercontent.com/assets/2216750/6184142/3b2e302e-b399-11e4-9c89-17ba291b25d1.png)
the '$id' means it will get the Request.QueryString["id"] into here.
so, the problem is type incompatible
![qq20150213-2](https://cloud.githubusercontent.com/assets/2216750/6184160/713f80dc-b399-11e4-88ec-9b6afcd812b9.png)
![qq20150213-3](https://cloud.githubusercontent.com/assets/2

[2015-02-13 08:06] Kagamine commented on #13
Dynamic Linq can distinguish type of left and right, then can I make a force conversion?

[2015-02-13 08:06] kahanu commented on #13
@Kagamine - I see your problem, but since I didn't author the Dynamic library, I only have two suggestions: 1) see if adding a DataType attribute to the property of type Int32 will force the conversion, 2) post your issue on stackoverflow.com.  You would probably get a better answer there.

Sorry I couldn't be more help.

[2015-02-13 08:08] Kagamine commented on #13
thanks.. I just try to write some lines to make a force conversion, but the source is so complex...QAQ

[2015-03-04 14:33] Petermo opened #16 "Add support for bitwise operations"
Just encountered some issues where I really wanted to use bitwise operations (as a somewhat generic approach to a Enum its HasFlag).
Am I overlooking something obvious? Regardless, I have started to work on getting bitwise logic in there anyway and will create a PR when I feel it is useable. (https://github.com/Petermo/System.Linq.Dynamic)

However, I was wondering what the original reason was for

[2015-03-04 16:33] kahanu commented on #16
@Petermo - you would have to ask the Microsoft developers who built the framework that question.  I'm not associated with Microsoft, I just made their framework available here so I could also make it available on NuGet.  I know this wasn't the answer you were looking for, but this is the original code by Microsoft (with some other pull request merges), but I'm not the architect.  Sorry.

[2015-03-04 16:50] Petermo commented on #16
Yeah, I knew that and that is no problem at all. But I was basically hoping you (or someone else) would happen to know.
I'm currently fearing that it is in there just because that would be the expected behaviour for  VB developers (and being a part of some code samples for both C# and VB...), ah well; speculation :).
Other question, do you (or anybody else that reads this)  think side effects migh

[2015-03-04 17:58] kahanu commented on #16
@Petermo - I'm not  following your last question about side effects and merging back in.  What do you mean here?

[2015-03-04 20:01] Petermo commented on #16
Well, since I do use it a lot, but only limited I was wondering what unwanted side effects could surface after removing the concatenation feature (using an &).
And, since I remove a feature, if you would still feel comfortable accepting a pull request. I do prefer it if it would all end up in the same location.

[2015-03-04 20:03] Petermo commented on #16
BTW, I also found a similar project on codeplex maybe I'll browse around over there to see if I can find an answer to my 'why is it originally created like this' question.

[2015-03-04 20:05] kahanu commented on #16
@Petermo - I wouldn't remove it in case some developer is using it and wants to upgrade to the latest. If it is working for them, it would break their application.  It could be marked as Deprecated or something if a good work around is implemented.

[2015-03-05 09:13] Petermo commented on #16
@kahanu, ok I've changed it a bit so backwards compatibility is ensured and it can be seen as nothing but an addition. I've also created a PR for it now.

[2015-03-05 12:07] #16 closed

[2015-03-10 08:59] margani commented on #3
Thanks, that worked. but I am not sure about bugs. Are you sure?

[2015-03-10 14:07] mlewis9548 commented on #3
I have since moved on from the project where I used your library. However, that project went into production with this modification and has been there untouched for about 4 years.  We used that method numerous times within the project and had no issues. That said, we wrote it for fairly generic and vanilla methods where the inputs were simple.

[2015-03-11 08:03] margani commented on #3
Thanks very much, for your fast answer.

[2015-04-01 08:17] jiangzm opened #18 "Does not support the query list"
[code]
[code]
How to support dynamic query a list？

thanks.

[2015-04-01 12:52] NArnott commented on #18
Are you getting an error?  What's the problem?

[2015-04-02 06:15] jiangzm commented on #18
exception message: "No property or field 'Name' exists in type 'String'

[2015-04-02 06:18] jiangzm commented on #18
but the follow query is ok
[code]

[2015-04-02 06:20] jiangzm commented on #18
[code]

[2015-04-02 12:56] NArnott commented on #18
Take a look at these:

- http://dynamiclinq.azurewebsites.net/Keywords/in.
- http://dynamiclinq.azurewebsites.net/Expressions/Contains

I've been developing an extended version of Dynamic Link which supports multiple elements.  Contains should work as well.  It's available on NuGet: https://www.nuget.org/packages/System.Linq.Dynamic.Library/

[2015-04-03 06:36] jiangzm commented on #18
thanks.

[2015-04-03 06:36] #18 closed

[2015-05-12 11:10] hidegh opened #20 "ParseStringLiteral fails for strings @"'this is my string with spaces and single quoted'""
**What's the purpose of this function.**
1. First it strips the quote from the beginning and end of the token.text (without checking if it's good encoded)
2. Then in the WHILE part it simply replaces double single quotes with a single single quote (assumes that there's a double quote, does not check it)
3. **Then if our qoute is a single quote, then an error is raised, since s == token.text and mu

[2015-05-12 15:58] kahanu commented on #20
@hidegh - you should probably ask this question on StackOverflow.  I didn't author this, I'm simply providing a way for it to be available, and used in NuGet.  Sorry.

[2015-08-11 11:50] schzade opened #23 "Orderby Issue"
public class BoatType
{
      public BoatType(){
             this.BoatTypeTranslation = new HashSet<BoatTypeTranslation>();
      }
      public int Id {get;set;}
      public string Code {get;set;}

      public ICollection<BoatTypeTranslation > BoatTypeTranslation {get;set;}
}

public class BoatTypeTranslation
{
      public int Id{get;set}
      public int BoatTypeId{get;set}
      public stri

[2015-08-11 15:41] kahanu commented on #23
@schzade - you would probably get better responses from stackoverflow.com on this.  I have just made this library available via NuGet, but I am not the author.

[2015-08-11 15:41] #23 closed

[2015-08-20 23:06] ryanvgates opened #24 "ParseException shouldn't override ToString()"
In the ParseException class, the ToString() method is [overriden](https://github.com/kahanu/System.Linq.Dynamic/blob/master/Src/System.Linq.Dynamic/DynamicLinq.cs#L573-L576).

I understand that a simpler message is trying to be achieved, but this creates real problems if I want to catch the exception further up in the call stack. The [System.Exception.ToString()](https://msdn.microsoft.com/en-us/l

[2015-09-02 19:03] ryanvgates commented on #24
I understand that you are not maintaining this package. If I provide a pull request, is this something that you would be interested in merging in?

P.S. I would be interested in helping maintain this package if you are interested in.

[2015-09-02 19:08] kahanu commented on #24
@ryanvgates - yes, if you are interested in helping maintain this package, I'd like that.  My time is limited and when I can't reliably test pull requests, then they can't and shouldn't just be added hoping that the code works.  I've never added a contributor.  I guess I just add your username?  :^)

[2015-09-02 19:12] ryanvgates commented on #24
@kahanu yes, if you go to the repository => Settings => Collaborators => add my username => Click Add Collaborator

[2015-09-02 19:16] kahanu commented on #24
@ryanvgates - I think I did it.  Can you check?

[2015-09-02 19:28] ryanvgates commented on #24
@kahanu  I think so. I now see the button to merge the pull request and it says "Collaborator" next to the edit pencil icon. Thank you.

[2015-09-02 19:33] kahanu commented on #24
@ryanvgates - no thank you for being a collaborator.

[2015-09-08 15:23] ggrote opened #25 "Issue with null check"
I've got the following entity:
[code]
and I want to filter them by Name, but some of them have the Name property set to null.
The where query:
[code]
generates the following statement:
[code]
which leads to a NullReferenceException
[code]

[2015-09-08 23:30] ryanvgates commented on #25
@kahanu I haven't tried to reproduce this issue yet, but one thing that I think would help would be to have unit tests to reproduce issues and verify that they are fixed. What do you think?

[2015-09-08 23:34] kahanu commented on #25
I think that's a good idea.  Can you do that?  Unfortunately I'm crushed on a large project right now.

[2015-09-09 03:47] ryanvgates commented on #25
@kahanu I will move forward with that then. Unfortunately I'm in a similar position so it may be a gradual process.

[2015-09-09 09:16] ggrote commented on #25
I'm sorry, but I'm too stupid.
Didn't test it right now, but the problem will be that I only check if Region.Name will be null, which is a property on a navigation property, so I also need to check if Region is null. Sometimes it's that easy... :)

[2015-09-09 09:17] #25 closed

[2015-09-10 22:04] DelvisR opened #27 "Include ?? operator"
Using Linq is very easy to say: Table.Select (s => new {Res s.Field1 ?? = ""});

Similarly it would be perfect to use with Dynamic Linq: Table.Select ("new (Field1 ?? \" \ "as Res)");

They could use iif or ? : operators, But sometimes a very large string is generated.

It could be added?

Thank you.

[2015-09-11 17:54] ryanvgates commented on #24
@kahanu if you think the pull request looks good I'll merge it in. I promise not to ask you about each and every one. In this case since, I'd like another set of eyes on the changes since it's my pull request, and I may be somewhat biased.

[2015-09-11 17:57] ryanvgates commented on #20
@hidegh did you ever ask this question on StackOverflow? If so can you add a link to it?

[2015-09-11 18:00] ryanvgates commented on #15
@Tiku123 were you able to resolve this issue? Did you ever post the question on StackOverflow? If so can you respond with the link?

[2015-09-11 18:03] ryanvgates commented on #13
@Kagamine it sounds like your issue was entirely separate from the original issue above. In the future, please create a separate issue.

[2015-09-11 18:05] ryanvgates commented on #13
@programcsharp @kahanu I think the integration will most likely have to wait quite a while since the code bases are different enough to make integration challenging. Would either of you mind if I closed this issue for now?

[2015-09-11 18:06] ryanvgates commented on #10
@dstream per your comment above, I'm going to close this issue.

[2015-09-11 18:06] #10 closed

[2015-09-11 18:11] ryanvgates commented on #8
@kahanu if we were to add this information to the wiki for this repo, would it make sense to include the samples in the repo itself?

[2015-09-11 18:23] programcsharp commented on #13
Sure, if that makes things easier. I've been pulling things back and forth by hand as needed.

For future reference, looks like the project has moved from google code to https://github.com/mrKrizz/dynamic-linq/tree/master. @mrkrizz might be interested in the integration.

[2015-09-11 19:13] hidegh commented on #20
i don't think so. i replaced the 'string' with "string" and that did the
trick.
there's a logical explanation why they interpret '' as char - they stick to
C#/.NET notation.

On Fri, Sep 11, 2015 at 7:57 PM, Ryan Gates <notifications@github.com>
wrote:

[2015-09-11 19:18] ryanvgates commented on #20
@hidegh do you mind if I close this issue then?

[2015-09-11 19:20] ryanvgates commented on #13
@programcsharp yes for right now it would. I'm trying to get through all the stale issues and pull requests. I agree that there is a good case for integration. I just want to be realistic regarding what is considered active. I think it will take some time before I can move forward on the integration.

[2015-09-11 19:20] #13 closed

[2015-09-12 07:37] hidegh commented on #20
it's o.k. to close it, with the info I provided you yesterday.
thanx.

On Fri, Sep 11, 2015 at 9:18 PM, Ryan Gates <notifications@github.com>
wrote:

[2015-09-12 18:07] ryanvgates commented on #20
@hidegh Per your comment, I'm closing this issue.

[2015-09-12 18:07] #20 closed

[2015-09-16 08:46] glopesdev opened #29 "Parsing of literals should use invariant culture"
First of all, thanks for taking the initiative to improve the original dynamic LINQ!
One of the issues I always had with the original library is that it used the default Parse methods without passing in InvariantCulture.

This means that numeric strings may actually parse or not depending on the user's environment. This becomes more confusing because for some cultures, decimal places may be confus

[2015-09-16 10:18] glopesdev opened #31 "Calling instance methods does not work unless the type is a predefined type"
This is also another feature that I never understood. There is an explicit check in ```ParseMemberAccess``` that blocks calling any methods if the class is not part of the predefined types (i.e. int, float, Math, etc).

This makes no sense, because it means I can call ```ToString``` if the input is a number, but not if the input is a ```Point```.

I say this check should simply be removed.

[2015-09-16 17:18] ryanvgates commented on #31
@glopesdev Can you provide an example in code to help me understand the context better?

[2015-09-16 17:27] ryanvgates commented on #29
@glopesdev No problem. I know I've benefited a lot from the open source/online community and I try to give back when I can.

I believe that tryparse will use the current culture if none is specified. The issue arises when you are running under one culture but want to deal with another culture's strings. Is this the correct scenario to reproduce the issue?

[2015-09-16 20:47] ryanvgates commented on #27
@DelvisR Can you provide some example code for this? It would help provide a better context for this enhancement.

[2015-09-17 00:37] glopesdev commented on #29
You are correct that ```TryParse``` uses the current culture if none is specified. However, that is exactly what you ***don't*** want in a programming language or script, because it changes your lexer (i.e. you have parser ambiguity because new tokens are introduced in unexpected places).

A simple example.

The script ```Math.Sin(it / 1.0)``` fails to compile in a Portuguese-language system. Why?

[2015-09-17 01:02] glopesdev commented on #31
Sure. Here it is:

[code]

I would say the script ```it.ToString()``` should parse no matter what the type. **ToString** is a valid instance method on any object instance. In fact, any method that is available in the particular type should be available to be called.

There is certainly no limitation on the reflection side of things. In fact, all code is already in-place to validate if the method c

[2015-09-17 14:30] ryanvgates opened #33 "No unit tests"
I know we discussed adding unit tests, but I had some questions on the specifics of that.

1. What framework should be used (MSTest, NUnit, something else)?
2. How about calling the project System.Linq.Dynamic.Test?

[2015-09-17 15:10] kahanu commented on #33
@ryanvgates - I think since it's a .Net assembly, MSTest should be fine, and the project name sounds perfect.

[2015-09-17 15:27] ryanvgates commented on #24
Closing this since making the change would impact existing users that would upgrade.

[2015-09-17 15:27] #24 closed

[2015-09-17 17:47] ryanvgates commented on #33
@kahanu Let me know if the pull request looks good and I will merge it in.

[2015-09-17 18:21] kahanu commented on #33
@ryanvgates Yes, it looks good.  Go ahead and merge.

[2015-09-17 18:51] ryanvgates commented on #33
Closing after merging in the pull request.

[2015-09-17 18:51] #33 closed

[2015-09-17 21:09] DelvisR commented on #27
On many occasions I need to make dynamic queries where one of the fields can be null response and need instead of zero returns an empty string.

In a traditional Linq query would be:

var dc = new DataClasses1DataContext();

var d = dc.ENTArea
           .Select(s => new { Area = s.Description,
					Account = s.ENTAreaType.INVProductAreaType.First(q => q.ProductTypeID == s.AreaID).AccountCost.Acco

[2015-09-18 00:12] ryanvgates commented on #3
@mlewis9548 @margani Is this issue still active?

If so, can you please provide a pull request with unit tests for the new behaviour?

[2015-09-18 04:28] mlewis9548 commented on #3
Ryan, as I said in the comment above I have long since moved on from that project and have not actively developed in C# for almost 2 years. If I get some time to look at this again and dig up some old source code (i'd have to actually reinstall windows and VS since I am open source dev now), I may try to do a pull request. At the time when I created this fix I was unfamiliar with git and just didn

[2015-09-18 20:14] ryanvgates commented on #3
@mlewis9548 you might want to consider using https://dotnetfiddle.net/ so you don't have to setup a new environment.

[2015-09-22 13:04] ryanvgates commented on #8
@kahanu can you review the pull request #35 and let me know if it's ready to be merged in?

[2015-09-28 15:33] ryanvgates commented on #15
@Tiku123 @kahanu Since I haven't heard anything back regarding this issue, I am going to close it for now.

[2015-09-28 15:33] #15 closed

[2015-09-28 15:37] ryanvgates commented on #27
@DelvisR are you referring to the [?? operator](https://msdn.microsoft.com/en-us/library/ms173224.aspx) or the [?: operator](https://msdn.microsoft.com/en-us/library/ty67wk28.aspx)?

[2015-09-28 15:53] ryanvgates commented on #8
I'm going to close this issue since adding the documentation would leave this one issue open too long. I will break it up into smaller chunks.

[2015-09-28 15:53] #8 closed

[2015-09-29 13:14] ryanvgates opened #36 "Readme clean up"
The [main readme](https://github.com/kahanu/System.Linq.Dynamic/blob/master/README.markdown) should include a link to the nuget repository and have install-package System.Linq.Dynamic formatted like below.

This will make it easier to copy and paste.

[2015-09-29 15:37] kahanu commented on #36
@ryanvgates I do have that in the readme file.  It's not a link, but you can copy and paste from it.  What am I missing?

[2015-09-29 15:54] ryanvgates commented on #36
I was going to add the link to the nuget repository https://www.nuget.org/packages/System.Linq.Dynamic/ like the below.

I've also created [a NuGet package](https://www.nuget.org/packages/System.Linq.Dynamic/) so it's easy to import into your Visual Studio projects.

Regarding the styling for  the nuget command I was thinking of something like the below.

[code]

I stole that idea from the [Fluent

[2015-09-29 16:30] kahanu commented on #36
@ryanvgates I'm not sure I understand what you mean by "styling" of the nuget command.  :(  This NuGet package is already created and has been used many times.  I can add you to my NuGet repository so you can manage updates for System.Linq.Dynamic.  Do you have a NuGet username?  If so I'll add it to my package.

[2015-09-29 16:48] ryanvgates commented on #36
@kahanu I mean on the readme itself not the nuget package.

Here's what it looks like now.

install-package System.Linq.Dynamic

I think it would be better if it looked like this.

[code]

[2015-09-29 17:19] kahanu commented on #36
@ryanvgates ah, I see.  Yep, you can do that.  :)

[2015-09-29 22:57] DelvisR commented on #27
?? operator

[2015-09-30 13:27] ryanvgates commented on #36
Closing this after merging in the pull request.

[2015-09-30 13:27] #36 closed

[2015-09-30 16:23] ryanvgates commented on #36
@kahanu to answer your question. My nuget username is ryanvgates.

[2015-11-13 18:39] ryanvgates commented on #3
Closing due to lack of activity.

[2015-11-13 18:39] #3 closed

[2015-11-13 18:52] #29 closed

[2015-11-30 18:59] #31 closed

[2015-11-30 19:00] ryanvgates commented on #27
@DelvisR can you please provide a pull request that includes the changes you are proposing and unit tests?

[2015-11-30 19:04] ryanvgates opened #39 "Release Cycle/Nuget Release"
@kahanu Issues #29 and #31 have been resolved and merged. What is the release cycle for nuget packages? How often do you typically push a new nuget package?

[2015-12-02 20:18] DelvisR commented on #27
If there is a class "Class 1" with a "Field1" field that can be null and you want if its value is null return an empty string, then we can say:

var result = dc.Class1.Select ("new (iif (Field1 = null, string.Empty, Field1) as Value)");

I propose to incorporate the operator "??" in order to remove the operator "iif":

var result = dc.Class1.Select ("new ((Field1 ?? string.Empty) as Value)");

Che

[2015-12-08 05:22] ryanvgates commented on #27
@DelvisR I understand the change that you are proposing and I can certainly see that it would be beneficial. @kahanu and myself don't have time to add new features to the repository ourselves right now, so if you want to see these changes made, you will need to provide a pull request that includes unit tests.

[2015-12-13 14:17] glopesdev commented on #39
Judging from the package release history in the [NuGet package website](https://www.nuget.org/packages/System.Linq.Dynamic/) there was one release in 2011 with the first version and then 3 releases in 2014.

It looks like releases might have been change-driven rather than put out at regular intervals, but there is no reported release notes so it's hard to tell what changed.

[2015-12-13 15:50] ryanvgates commented on #39
@glopesdev Thanks for looking that up. That's a good point about release notes. It would be helpful even if it was just a list of github issues that were resolved and included.

[2015-12-14 15:13] glopesdev commented on #39
@ryanvgates You can release notes to the NuGet package by adding a <releaseNotes> XML element to the [nuspec file](https://github.com/kahanu/System.Linq.Dynamic/blob/master/NuGet/System.Linq.Dynamic.nuspec) (see [here](https://docs.nuget.org/create/nuspec-reference)).

I guess to push a new version of the NuGet package we would need either @kahanu to do it or a shared ownership of the package to b

[2015-12-14 17:34] ryanvgates commented on #39
@glopesdev @kahanu and I are maintaining the project. However @kahanu has been pressed for time recently and I've been doing what I can. I do see your point about having permissions to push out NuGet packages. I will work with @kahanu  on that.

[2015-12-14 17:35] ryanvgates commented on #27
@DelvisR I'm going to close this for now. When you have a pull request ready, please re-open it.

[2015-12-14 17:35] #27 closed

[2015-12-14 19:25] ryanvgates commented on #39
@glopesdev do you have an example of including release notes in the NuGet package? I looked at the reference but I am still not seeing exactly how it might be done.

[2015-12-15 10:04] glopesdev commented on #39
@ryanvgates sure, you can find a simple example of the usage of release notes in [this SO question](http://stackoverflow.com/questions/30612105/show-nuget-package-release-notes).

[2015-12-16 03:44] ryanvgates commented on #39
@glopesdev thank you for the references. I think that I understand what you mean now. I asked @kahanu for permissions to the nuget package. I'll let you know when I hear anything.

[2015-12-22 18:51] ryanvgates commented on #39
The version in Nuget has been updated to 1.0.5

[2015-12-22 20:26] glopesdev commented on #39
That's great to hear, right on time for my release cycle as well!
Thanks!

[2015-12-23 05:27] ryanvgates commented on #39
@glopesdev No problem. Thank you for the PR's and keeping this library going.

[2015-12-23 16:15] glopesdev commented on #39
@ryanvgates I've just tested the new NuGet package and the fix for issue #31 does not seem to have been included in the build for some reason. A quick look at the binary at reflection reveals that the code for ParseMemberAccess does not match the most recent master.

Is it possible that for some reason the NuGet build was done on an out-of-date branch?

Thanks!

[2015-12-24 21:15] ryanvgates commented on #39
@glopesdev sorry about that. It is possible. I will take a look at it myself and then upload a new version to nuget. It probably won't happen until Monday though.

[2015-12-28 19:24] ryanvgates commented on #39
@glopesdev I just uploaded a new version 1.0.6 of the nuget package. Please let me know if that works for you.

[2015-12-29 10:50] glopesdev commented on #39
@ryanvgates Yes, this does work and I've checked that both fixes seem to be in place. Thanks for the help!

[2015-12-29 15:13] ryanvgates commented on #39
@glopesdev No problem.

[2015-12-29 15:13] #39 closed

[2015-12-30 18:59] ryanvgates opened #40 "Readme Clean Up"
1. Add formatting to "Documentation and Samples"
2. Include a link to the wiki with a note that the samples are being migrated to the wiki for easier access

[2015-12-30 19:05] #40 closed

[2016-02-01 08:57] EmilNachev opened #41 "Can you add functionality to add Property Attributes?"
public class DynamicProperty
{
...
public Attributes[] Attributes{get;set;} // <- assigned from constructor
...
}

...
PropertyBuilder pb = tb.DefineProperty(dp.Name, PropertyAttributes.HasDefault, dp.Type, null);
change to:
PropertyBuilder pb = tb.DefineProperty(dp.Name, dp.Attributes, dp.Type, null);

Example:
.Select("new (CustomerFromDB as Customer[Display(Name="Good Customer")] )")

I think t

[2016-02-02 21:41] ryanvgates commented on #41
@EmilNachev can you please provide a pull request that includes the changes you are proposing and unit tests?

[2016-02-03 07:35] EmilNachev commented on #41
I'm not familiar with the code and I can't make it. I just made a proposal to add attributes for anonymous class and properties.

[2016-02-07 00:44] ryanvgates commented on #41
@EmilNachev Okay. @kahanu nor myself has the bandwidth to add features right now so it may just stay a proposal for now.

[2016-02-15 22:25] glopesdev opened #42 "Add a ParseLambda overload to allow specifying the delegate type"
This would allow using `ParseLambda` to create `Action<>` delegates, instead of just `Func<,>` delegates.

Proposed syntax and implementation:
[code]

[2016-02-15 22:29] glopesdev opened #43 "Add a Parse overload to allow specifying the delegate type"
This would allow the `Parse` method to provide the full power of `ExpressionParser`. For some reason the original constructor interface was not fully exposed through this method. The current interface is also inconsistent with the `ParseLambda` overloads, which **_do_** expose this interface.

Proposed interface and implementation:
[code]

[2016-02-15 22:45] glopesdev opened #44 "Consider relaxing ExpressionParser validation of method call return type"
Currently `ExpressionParser` disallows method calls that return `void`. There is really no reason to do this, and it prevents `ExpressionParser` from trivially supporting the parsing of `Action<>` delegates.

The final `Expression.Lambda` call would already throw in cases where the method is not compatible with the specified delegate type.

Also, the current guard throws a `ParseException`, which

[2016-02-16 17:37] ryanvgates commented on #42
Can you provide an example of how consuming code would use this to give me some more context?

[2016-02-16 17:41] ryanvgates commented on #43
I can see what you mean here. Can you submit a pull request with unit tests and reference this issue?

[2016-02-16 17:50] ryanvgates commented on #44
Where is the code for this?

[2016-02-17 00:00] glopesdev commented on #42
Sure, this would be similar to what you already do with `Expression.Lambda`:
[code]
This basically compiles an `EventHandler` delegate from the corresponding expression tree which takes the two parameters `sender` and `e` and does nothing. You can see the form if you inspect the expression tree in Visual Studio, which should show you: `{(sender, e) => default(Void)}`

If this overload was in place

[2016-02-17 00:06] glopesdev commented on #44
Sorry if I wasn't clear. The link to the offending code was provided above:
https://github.com/kahanu/System.Linq.Dynamic/blob/master/Src/System.Linq.Dynamic/DynamicLinq.cs#L1445

If you open the link, it should open the GitHub code browser automatically positioned at line 1445, where the redundant check is.

This for me is the most pressing of these last 3 issues to be fixed, as it poses serious

[2016-03-03 17:00] xrkolovos opened #49 ".net Core support"
any thoughts for .net core support?

[2016-03-05 01:17] ryanvgates commented on #49
I would have to take a look and see if there are any conflicts. In principal, I think we should support as many possible frameworks as we can. I know that you can do this relatively simply with the new xproject in VS 2015.

@kahanu what do you think about adding .net core support this way? To be clear the nuget package produced would support multiple frameworks (e.g. 2.0, 3.0, 3.5, 4.0, 4.5 and co

[2016-03-05 04:23] mobilebilly opened #50 "ClassFactory.GetDynamicClass() does not appear to be thread safe"
The `classes.Add(signature, type)` method call is placed within a ReaderLock (which is a shared lock),:
[code]

if multiple threads are accessing the GetDynamicClass method simultaneously, the following runtime exception might occur:

[code]

The error _might_ happen when multiple threads are making call to something like below
System.Linq.Dynamic.Select(“new …”)

The problem is mentioned in the l

[2016-03-05 17:08] kahanu commented on #49
That would be great if its a new branch.

King

Sent from my Windows Phone
________________________________
From: Ryan Gates<mailto:notifications@github.com>
Sent: ‎3/‎4/‎2016 5:17 PM
To: kahanu/System.Linq.Dynamic<mailto:System.Linq.Dynamic@noreply.github.com>
Cc: King Wilder<mailto:info@kingwilder.com>
Subject: Re: [System.Linq.Dynamic] .net Core support (#49)

I would have to take a look and se

[2016-03-08 04:36] ryanvgates commented on #49
@kahanu rather than using a separate branch I would like to see if I can do something similar to what is described [here](http://weblog.west-wind.com/posts/2014/Dec/02/Creating-multitarget-NuGet-Packages-with-vNext), which uses a single codebase to produce a nuget package that targets different .net versions. This way we wouldn't have to worry about making the same bug fixes/enhancements across br

[2016-03-08 06:52] #44 closed

[2016-03-24 00:48] ryanvgates commented on #50
Pull request #48 is related to this issue.

[2016-03-24 17:51] #42 closed

[2016-03-24 17:56] #43 closed

[2016-03-29 18:01] ryanvgates commented on #50
Closing this issue after merging in the changeset.

[2016-03-29 18:01] #50 closed

[2016-04-01 17:36] ryanvgates opened #51 "Missing Test Method attribute"
Merge request #48 removed the Test Method attribute

[2016-04-01 17:41] #51 closed

[2016-04-10 12:18] StefH commented on #49
Hi All.

I've started a new project based on this + https://github.com/NArnott/System.Linq.Dynamic to implement **.net core** support.

See this github here: https://github.com/StefH/System.Linq.Dynamic.Core

Please comment / review and help testing.

[2016-04-11 04:20] ryanvgates commented on #49
@StefH I will take a look to see how you implemented the .net core support.

Regarding combining all projects/branches into this one, it will take some time to do this since your repository is not a fork off of either of the existing two repositories. I know that https://github.com/NArnott/System.Linq.Dynamic is both ahead and behind this repository as well.

[2016-04-11 06:14] StefH commented on #49
Hello @ryanvgates, I forked from https://github.com/NArnott/System.Linq.Dynamic and added some more functionality there.<br>My fork is still visible on github [https://github.com/StefH/System.Linq.Dynamic], however I decided to start a new project + nuget to avoid confusion and create the project according to the new VS2015 + DNXCore/vNext standards.

However, currently there are multiple nuget pa

[2016-05-08 08:34] StefH commented on #49
I did some cross checking from the issues between the different versions, and I think I have integrated most if the new functionality and bugfixes into my repository. If someone has the time, I would really appreciate if you can double check and verify my code and closed/open issues.

[2016-05-10 04:06] ryanvgates commented on #49
@StefH I apologize for the delay. I've just started a new job and have some other things going on right now. I will look into comparing the functionality and bugfixes.

[2016-05-11 07:26] andmattia opened #52 "New query / Alias on every orderBy"
Hi all

I investigate on a performance issue on my db (mySql) and I see that every orderBy I give me back a new query with new alias. Is it possibile use same alias on every run?

mat

[2016-05-11 19:48] ehsaanwelcome opened #53 "SqlFunctions in where clause"
from
query.Where(o => SqlFunctions.StringConvert((double)product.Id).Contains(search))
to
query.where("SqlFunctions.StringConvert((double)Id.Contains(@0), search)

[2016-05-14 02:51] ryanvgates commented on #53
Can you please provide more detail about what this issue is? Is it a bug or enhancement?

How can I reproduce the issue? Can you please reference the place in the code where this is from?

[2016-05-14 02:52] ryanvgates commented on #52
Can you please provide an example (with code)? This way I can reproduce the issue and understand what you're running into.

[2016-05-14 10:17] StefH commented on #53
I also tried to test this using unit-tests (https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/test/System.Linq.Dynamic.Core.Tests/SqlFunctionsTests.cs) however, I'm not able to test this correctly because my unit-test database is not (yet) a sql-server, but only Sqlite.
Maybe I can quickly try to add this test to a console-app.

[2016-05-14 10:48] ehsaanwelcome commented on #53
Is dnt know, is this a bug or enhancement as i am very new to this libraray.
There are entity functions which are for every database provider and swl functioms which are for sql server.
in sql, we can cast int to string and many other common functions which is not possible in linw to entities queries so here comes swl functions to support these functions as one i have mentioned stringconbert which

[2016-05-16 19:00] xrkolovos commented on #49
rc2 is out! :)

[2016-05-16 19:10] StefH commented on #49
Yes I know.
I did already port my projects to RC2:

- https://github.com/StefH/Linq.PropertyTranslator.Core
- https://github.com/StefH/QueryInterceptor.Core
- https://github.com/StefH/System.Linq.Dynamic.Core

Please test and double check my **System.Linq.Dynamic.Core** project. (NuGet version 1.0.2 is also uploaded)

[2016-05-16 20:02] xrkolovos commented on #49
nice i will check them, when i will upgrade my projects!

[2016-05-20 13:33] ryanvgates commented on #53
Can you please provide a small sample of code that reproduces the issue?

[2016-05-23 22:08] xrkolovos commented on #49
we are going with the System.Linq.Dynamic.Core packages? (there working fine as far as tested)

[2016-05-24 10:29] ehsaanwelcome commented on #53
i have following linq query in my project
_db.Products.Where(o => SqlFunctions.StringConvert((double)o.Id).Contains(search));
Id is long which is not searchable but in sql we can cast long to string so EF have given us a way to cast it to string using SqlFunctions.StringConvert((double)o.Id).
i have seen generated sql of above query which is something like
**select * from products where CAST(Id AS

[2016-05-24 19:52] StefH commented on #53
It should be like (for test see: https://github.com/StefH/System.Linq.Dynamic.Core/tree/master/src-console/System.Linq.Dynamic.Core.ConsoleTestApp.net452)

[code]

Note that a cast to **double** is required here because StringConvert has two options; with decimal and double.

[2016-05-25 10:19] ehsaanwelcome commented on #53
it does not work in my project and in your sample project
i am getting parse exception error, sqlfunction is not a key in type [entity name]

in sample project, i added system.linq.dynamic though nuget because it was not loading it from src

is there any difference on nuget library and the one is in src of sample project?

[2016-05-25 10:35] StefH commented on #53
You probably need nuget system.linq.dynamic.core (my project as referenced above)

[2016-05-25 11:12] ehsaanwelcome commented on #53
Thanks
It worked

I was using a fork which documentation was at following link
dynamiclinq.azurewebsites.net/Library

now, that library is removed from everywhere.

[2016-05-25 11:23] StefH commented on #53
Indeed, that library (which is not this one) is indeed removed from github and nuget. (I don't know why.)

I suggest you use the **System.Linq.Dynamic.Core**.
Documentation can be found here: https://system-linq-dynamic-core.azurewebsites.net

[2016-05-25 11:55] ehsaanwelcome commented on #53
Yes, using it now and everything is working
I really liked the documentation and tests
Really appreciate the contribution

[2016-05-25 11:55] #53 closed

[2016-06-14 03:30] rpaschoal opened #55 "Nested OrderBy implementation"
Hello,

Any chance we can have this added to the official package? :

http://stackoverflow.com/questions/26053488/how-does-nesting-an-orderby-in-a-dynamic-linq-query-work

I want to use a nested OrderBy within a collection.

Thank you for your time.

[2016-06-14 04:03] ryanvgates commented on #55
Can you make submit a pull request with the changes and unit tests? If everything looks good, then I can merge it in and push an updated nuget package.

[2016-06-15 05:44] StefH commented on #55
Hi @rpaschoal ; this functionality has already been implemented in my version : https://github.com/StefH/System.Linq.Dynamic.Core

Code lines:
https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/DynamicQueryableExtensions.cs#L561

[2016-06-15 06:14] rpaschoal commented on #55
Hello @StefH,

Yes, I found out after asking here.

Thank you for that =)

[2016-06-15 07:04] StefH commented on #55
Cool

[2016-06-22 02:16] ryanvgates commented on #52
Closing this issue since it's been over a month with no response.

[2016-06-22 02:16] #52 closed

[2016-06-22 21:05] TWhidden opened #56 "ParseException:'Operator '>' incompatible with operand types 'Decimal' and 'Double'"
Any chance this is a simple one to answer? I know that there is a precision vs range thing here.

ParseException:'Operator '>' incompatible with operand types 'Decimal' and 'Double' (at index 18)

Working on a work-around, just curious your thoughts.

In this case, left token is a decimal, right token gets parsed as a double.

![decdoucompare](https://cloud.githubusercontent.com/assets/9921122/162

[2016-06-22 21:20] StefH commented on #56
Can you please provide example code or a unit-test ?

[2016-06-24 13:26] TWhidden commented on #56
Sure can.

 [TestMethod]
        public void DoubleDecimalCompare()
        {
            var listOfDifferentDecimals = new List<TestContainer>();
            listOfDifferentDecimals.Add(new TestContainer(123423.234M));
            listOfDifferentDecimals.Add(new TestContainer(123423423423.2342M));
            listOfDifferentDecimals.Add(new TestContainer(2342342433423.23423423M));
            lis

[2016-06-24 13:30] TWhidden commented on #56
If you are thinking about writing a solution for this, you might consider the risks of comparing double and decimal.  Thought, it most likely don't impact a majority of folks, the ranges are different. I was reading on StackOverflow what looks like a simple solution.  http://stackoverflow.com/questions/10612207/to-compare-double-and-decimal-should-i-cast-double-to-decimal-or-decimal-to-doub

Thoug

[2016-06-24 20:33] StefH commented on #56
Note that in normal Linq, this shows the same error on compile-level.

In my version (https://github.com/StefH/System.Linq.Dynamic.Core) it's possible to cast the Decimal to Double like this:

See https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/test/System.Linq.Dynamic.Core.Tests/ExpressionTests.cs#L28
`var result = list.AsQueryable().Where("double(DecimalValue) > @0", d).ToList();`

[2016-06-28 06:22] StefH commented on #56
Does this answer your question?

[2016-06-28 18:11] TWhidden commented on #56
Well, this is part of a higher level framework (WPF DataGrid filtering controls), where adjusting the string values really doesn't help. I get what you are doing there.  What I think I will do is find a way on my higher level control to have the user input already cast to the corrected type before its sent as a parameter.  I was just hoping there was an easy way to do that from the Dynamic Linq co

[2016-06-28 18:11] #56 closed

[2016-06-28 19:20] StefH commented on #56
OK, clear.

[2016-07-11 08:18] kad1r opened #57 "Filtering second level child collection"
Hi, I don't know it's an issue but I want to filter my second level included child collection. When I try to filter it says "No property or field" error. I try to explain that down below.

[code]

Here is my ef query. I'm using repository with unit of work. Unit of work returns IQueryable.
I have orders (shopping) and end user can see products of orders in the list. On the list you can search for

[2016-07-11 18:01] StefH commented on #57
So the uow return a IQueryable<Order> object?

And an Order has a property called Products?

[2016-07-11 21:43] kad1r commented on #57
Yea. Order, Order_Details and Products are all my tables.
Order_Details is child collection of Order and Products is child collection of Order_Details too.

[2016-07-12 17:52] StefH commented on #57
So an Order has zero or more Order_Details ?

And a single Order_Detail has zero or more Products?

And are you sure that the naming convention is cotrect?

Order_Details should maybe be OrderDetails?

[2016-07-12 20:29] kad1r commented on #57
All naming convetions are correct. And for validation every order must have order details and every order detail has products. Otherwise system won't be worked.

[2016-07-13 06:34] kad1r commented on #57
I found a solution. And that make sense. I asked the same question before on stackoverflow and someone has replied me the correct answer.
http://stackoverflow.com/questions/38118300/how-to-filter-child-collection-with-linq-dynamic/38311180#38311180

I did not know how to use entity framework any expression with linq dynamic but it was very simple.
`.Where("ORDER_DETAILS.Any(PRODUCTS.HEADING.ToLowe

[2016-07-13 06:34] #57 closed

[2016-07-22 08:34] DarthVitalus opened #58 "First, FirstOrDefault, Single, SingleOrDefault, Take"
Greetings! I want to ask you to add support to the library for IEnumerable methods, that are listed in the title. Would you be so kind to do that? :)
The use case that i need to be done is like:
`DynamicExpression.ParseLambda(new[] { someParam }, resType, "someObject.SomeArrayProperty.FirstOrDefault()");`

Thanks in advance!

[2016-07-26 16:08] ryanvgates commented on #58
@DarthVitalus Can you submit a pull request with unit tests for this enhancement?

Unfortunately right now, I nor @kahanu have the bandwidth to make additions to this project.

[2016-07-27 09:22] StefH commented on #58
@DarthVitalus can you please checkout my library https://github.com/StefH/System.Linq.Dynamic.Core

I think this functionality is already supported, see this unit-test:
https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/test/System.Linq.Dynamic.Core.Tests/EntitiesTests.FirstOrDefault.cs#L25

[2016-07-30 20:02] DarthVitalus commented on #58
@StefH I've already did! Your package is great! Many thanks for your work!

[2016-08-03 06:54] lokemoon opened #59 "Strong Name"
Is that possible to release with Strong Name signed?

[2016-08-05 04:11] ryanvgates commented on #59
@lokemoon I'll have to take a look at it, as other libraries have done it. Please feel free to submit a pull request as well.

[2016-08-05 06:37] StefH commented on #59
Please note that in order you want to really secure your library, the secret key should be stored in a safe place. But if you just want to sign the library, you can just store the key in github, same as I do.

[2016-08-16 14:31] lcrescenzo opened #60 "Error to load Assemblies dependency"
I have a project that depends on a third party dll and when DynamicLinq tries loaded the dll, an exception is generated not find the dll NUnit.

I do not have any functionality that depends on NUnit and do not intend to carry this dependence with my application.

Could please create a configuration for the DynamicLinq disregard or just carry specific dlls?

There is another way to solve the proble

[2016-08-17 07:03] StefH commented on #60
You can override this class, however I don't that functionality is define din this project.

See https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/CustomTypeProviders/DefaultDynamicLinqCustomTypeProvider.cs

[2016-08-19 03:44] ryanvgates commented on #60
Can you provide the dll and a sample bit of code to reproduce the issue?

[2016-08-31 19:12] lcrescenzo commented on #60
I implemented the IDynamicLinkCustomTypeProvider interface to load only the types that my application needs, as suggested by StefH.
 
I suggest you make an optional setting on app.config to load only the references specified to give greater flexibility to the component.

I tried to reproduce in a test application but could not succeed. The error occurs by trying to load a type that has a reference

[2016-08-31 19:12] #60 closed

[2016-10-07 13:05] Elindalyne opened #61 "Nuget release?"
Any chance of a release any time soon? It looks like you pulled in a bunch of stuff in March that hasn't made it to Nuget. While I can obviously build the project myself, I'd prefer to be able to update my projects from the same source.

[2016-10-07 17:34] StefH commented on #61
If you can't wait on this NuGet, you can try https://www.nuget.org/packages/System.Linq.Dynamic.Core/

[2016-10-09 13:48] ryanvgates commented on #61
@Elindalyne I will work on a nuget release and will update here once its been published.

[2016-10-13 19:48] jayoungers commented on #3
@mlewis9548  Thanks for this! It's a life saver

I was using another implementation of this library (System.Linq.Dynamic.Library) that vanished from NuGet that I needed to replace, but it had support for 'in' syntax along with the ability to change the predefined types (i.e. System.Data.Entity.DbFunctions instead of System.Data.Objects.EntityFunctions).  Taking this and replacing the predefined ty

[2016-10-16 00:50] ryanvgates commented on #61
Just uploaded [version 1.0.7 to nuget](https://www.nuget.org/packages/System.Linq.Dynamic/1.0.7)

[2016-10-16 00:50] #61 closed

[2016-10-16 00:50] ryanvgates commented on #61
@Elindalyne thank you for calling me out on not publishing to nuget for a while

[2016-10-16 00:51] ryanvgates commented on #41
I'm going to close this now since no pull requests have been submitted and no one has the bandwidth to pick it up.

[2016-10-16 00:51] #41 closed

[2016-10-16 00:53] ryanvgates commented on #49
To anyone that visits this issue, I suggest using [System.Linq.Dynamic.Core](https://github.com/StefH/System.Linq.Dynamic.Core), which @StefH seems to be actively maintaining.

[2016-10-16 00:53] #49 closed

[2016-10-16 00:55] ryanvgates commented on #55
@rpaschoal can you provide an example of how this would be used? I would like to add a unit test & this functionality to the package.

[2016-10-16 00:55] #58 closed

[2016-10-16 00:58] ryanvgates commented on #59
@lokemoon did you end up using the [System.Linq.Dynamic.Core](https://github.com/StefH/System.Linq.Dynamic.Core) library or is there still a use case for this library to be strongly signed?

[2016-10-16 22:25] rpaschoal commented on #55
Hello @ryanvgates,

I just wanted to use an "OrderBy" expression after a "Where" expression was applied.

Perhaps @StefH can give you more details about his implementation over this? I am using his port and it has been working fine for me now!

The way I use it is to build dynamic runtime expressions and queries, which can be used in, for example, a grid view where the user can apply some filterin

[2016-10-17 08:20] StefH commented on #55
I used this library also for that purpose : https://github.com/StefH/KendoGridBinderEx

-----Oorspronkelijk bericht-----
Van: "Rafael Carvalho" <notifications@github.com>
Verzonden: ‎17-‎10-‎2016 00:25
Aan: "kahanu/System.Linq.Dynamic" <System.Linq.Dynamic@noreply.github.com>
CC: "Stef Heyenrath" <Stef.Heyenrath@gmail.com>; "Mention" <mention@noreply.github.com>
Onderwerp: Re: [kahanu/System.Linq.

[2016-10-17 11:50] bluec0re opened #62 "Security Issue: 1.0.6 introduces an additional attack surface to code injection"
If an application allows to insert data into a query string (e.g. to specify the property where filters should operate on) it will be vulnerable to code injection attacks.

This is possible due to a change in version 1.0.6 which removes the type whitelist for method invocations.

You'll find a more detailed description on the attack here:

https://insinuator.net/2016/10/linq-injection-from-attacki

[2016-10-17 12:54] StefH commented on #62
Hello @bluec0re.

I forked you example project and replaced the library by [System.Linq.Dynamic.Core](https://github.com/stefh/System.Linq.Dynamic.Core), and it seems that this exploit is not present ?

Can you please double check ?

[2016-10-17 13:04] bluec0re commented on #62
System.Linq.Dynamic.Core is not vulnerable as it does still have the type checks.

In this library, the checks were removed with the commit 37f424144c009e30a1890ff6cadd3b3424219371

[2016-10-17 17:09] StefH commented on #62
@bluec0re Thanks for verifying.

[2016-10-17 20:08] ryanvgates commented on #62
@bluec0re @glopesdev The checks were related to Issue #31 . I'll need to see how both the flexibility and security aspects can be achieved.

[2016-10-17 22:25] glopesdev commented on #62
@ryanvgates how about putting the checks back in but allowing the consumer of the library to extend the type whitelist? That should be a reasonable compromise between both use cases.

@bluec0re if you can provide a breaking unit test, I can try and submit a patch/pull request for this.

[2016-10-18 20:33] bluec0re commented on #62
Added a unit test to my project

[2016-11-01 22:18] TWhidden opened #63 "ClassFactory - Dictionary to ConcurrentDictionary"
Ran into some strange issues last week with the private ClassFactory() throwing an exception that a 'key already exists.. I traced it to the [lines ](https://github.com/kahanu/System.Linq.Dynamic/blob/master/Src/System.Linq.Dynamic/DynamicLinq.cs#L458 )that add they signature and type. A simple fix was to change the Dictionary to a `ConcurrecntDictionary<Signature, Type>()  `

and instead of just

[2016-11-02 14:15] StefH commented on #63
The System.Linq.Dynamic.Core project already uses ConcurrentDictionary.
See https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/DynamicClassFactory.cs#L26

[2016-11-02 14:48] TWhidden commented on #63
Ah, I'll have to check that out. I was specifically talking about the non-core version. I see you guys keep it updated so was just a suggestion.

[2016-11-02 14:55] StefH commented on #63
Core version has most functionality from this one. And a lot new. And it support .net core, but also normal 4.5

[2016-11-02 22:51] TWhidden commented on #63
No problem, but some people may not be interested in using the Core version just yet, so this report/request was for the one that is shown in this repo. My project currently uses the one listed in this Repo, which is an easy one to maintain (with a single file anyways) and supports the features I use. I'll check out core soon, it looks like a very clean library.

[2016-11-03 03:36] ryanvgates commented on #63
I try to maintain and update it whenever possible, but @kahanu and myself are quite busy with other priorities. I will take a look at this as time allows. If you can provide a pull request, it would definitely help the turnaround time.

[2016-11-03 05:18] StefH commented on #63
My NuGet is just called .Core because this project did already claim the normal name on NuGet.

Note that my library supports also net3.5 and up besides netstandard (core).

[2016-11-04 05:00] TWhidden commented on #63
Done.   This Repo specifically says .net 4.0 Linq, so I didn't worry about targeting 3.5 Net (otherwise, would have to put in some compile time constants in + directives).  As it sits now, it doesn't compile for 3.5 anyways, so not breaking anything.  All the supplied Unit Tests passed (and I am already using this in our application so can confirm its working well).

[2016-11-17 17:47] omariom opened #65 "The list of differences between this version and the original"
Would be nice to know what was added to the version published in ScottGu's blog.

[2016-11-22 04:41] ryanvgates commented on #65
@omariom can you provide a link to the specific article of Scott Gu's blog?

[2016-11-22 04:43] omariom commented on #65
https://weblogs.asp.net/scottgu/dynamic-linq-part-1-using-the-linq-dynamic-query-library

[2016-11-22 04:52] ryanvgates commented on #62
@bluec0re is this [the test](https://github.com/bluec0re/dynamic-linq-injection/blob/master/DynamicLinq.Test/ExploitTest.cs) that you are referring to?

[2016-11-22 05:12] StefH commented on #65
For more different versions, see the table in the readme.md from https://github.com/StefH/System.Linq.Dynamic.Core

[2016-11-30 20:21] bluec0re commented on #62
Yes. Disclaimer: I've first written the test with mono and then ported to VS.

[2017-01-02 20:31] leandrozapata opened #66 "Support for dynamic types"
Is possible write a query with dynamic linq in dynamic object?

Actually i have the folowing error:

Message = "No property or field 'xxx' exists in type 'Object'"

Thanks for your help.

[2017-01-23 15:08] igorberdich commented on #59
We want to use  System.Linq.Dynamic (not Core) assembly in our project but we need it with strong name.
Is it official Microsoft dll? Usually Microsoft dlls have strong names.
Are you planning to release it with strong name?

[2017-01-23 16:11] StefH commented on #59
What's the reason that you don't want to use theSystem.Linq.Dynamic.Core version?

[2017-01-23 16:38] igorberdich commented on #59
We have product that was built long ago and our architecture team not ready to move in that direction yet. All our environments not ready for core including build environment. I am not sure that using core version of assembly won't cause problems.

[2017-01-23 16:39] lokemoon commented on #59
Hello, we ended using different approach and directly interact our implementation with ExpressionTree.  There was some misunderstand earlier, we thought System.Linq.Dynamic.Core aren't support on legacy .NET, hence we missed out the chance to tried out System.Linq.Dynamic.Core.

[2017-01-23 17:20] StefH commented on #59
Indeed. Because I could not use the same name on nuget and because this author dud not add me 😃, I started a new version which supporys the old .net but also the new .net core / netstandard.

[2017-01-26 02:37] heldersepu commented on #66
I needed this same feature, but turn out that dynamic objects are quite a pain in the rear...
For example the following code:
[code]
That is the non-dynamic linq, and it fails on the **Where(...)** with:
`...Object' does not contain a definition for 'vin'`

My recommendation: stay away from dynamic objects

[2017-02-20 11:37] spkoes commented on #66
I've read this http://stackoverflow.com/questions/31653697/system-linq-dynamic-dynamicexpression-parsing-expressions-with-methods
And I wonder if it could be implemented:
`static readonly Type[] predefinedTypes = {`
and remove the 'readonly' keyword (so it can be modified).

Then, add the following function to the ExpressionParser class:

`
    public static void AddPredefinedType(Type type)
    {

[2017-03-27 23:13] kallanreed opened #69 "Tokenizer does not handle escaped quotes in strings"
The parser throws errors when parsing strings like `X = "\"test\""` because the NextToken code in ExpressionParser does not properly handle escaped strings.

See: https://github.com/kahanu/System.Linq.Dynamic/blob/d1cfa48813a81665ded417a94a91a10d28e940d7/Src/System.Linq.Dynamic/DynamicLinq.cs#L2335

The tokenizer needs to keep track of whether or not it is handling an escaped character before exit

[2017-03-28 05:48] StefH commented on #69
I think the code just works fine.
See also some test here:https://github.com/StefH/System.Linq.Dynamic.Core/blob/10fc9a2ec8677f638210804c0ca636de021e6c9a/src-console/System.Linq.Dynamic.Core.ConsoleTestApp.net40/Program.cs#L134

[2017-03-28 05:54] kallanreed commented on #69
That test doesn't contain escaped quotes that the ExpressionParser needs to handle. You need a test like `"X==\"\\\"I am a string with quotes in me\\\"\"`.

[2017-03-29 21:29] mbilodeau6 commented on #69
I submitted a pull request with a fix just in case anyone else need to support this use case.

[2017-03-31 06:52] StefH commented on #69
Thanks.

[2017-04-07 08:12] xanatos opened #71 "Multiple level of nesting will break the handling of outerIt"
See http://stackoverflow.com/questions/43272152/generate-dynamic-linq-query-using-outerit/43272944#43272944 .

Proposed solution:

[code]

[2017-04-09 13:07] StefH commented on #71
This seems to be working correctly in my version: https://github.com/StefH/System.Linq.Dynamic.Core

See the test here:
https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/test/System.Linq.Dynamic.Core.Tests/ComplexTests.cs#L19

[2017-04-22 00:39] jupagose opened #72 "Nuget 1.0.7 Solution Doesn't compile due to sign trouble"
When I try to compile my solution it throws an error indicating **System.Linq.Dynamic  1.0.7**  is not signed. If I downgrade to **1.0.4**  My solution compiles with no problems

[2017-05-02 07:22] otykier commented on #71
I had the same issue. Fixed it by adding a Stack<ParameterExpression> to hold it references. Every time an aggregation is used, the current it is pushed to the stack.

My corrections to DynamicLinq.cs:

Line 804 to 809:
[code]

ProcessParameters-method:
[code]

ParseAggregate-method:
[code]

[2017-05-04 11:43] MNF opened #73 ""Where" dynamic linq query parser should give meaningful error when " is null " is used."
The following code
[code]
reports " **')' or operator expected**" error, which is hard to understand.
Finally I found that standard SQL " is null" is not supported, and acceptable syntax is
`var formattableString = $" (ReasonID == null)"`

It will be good if parser will recognize " is null" pattern and either interpret it correctly or give an appropriate error message.
I've  clarified this behavio

[2017-05-15 02:46] polei opened #74 "How to Orderby with List<string>"
[code]
So,how can I use orderby string.

[2017-05-15 06:34] StefH commented on #74
This would be just like:

`list.OrderBy("it");`

[2017-05-15 06:44] polei commented on #74
Thank you

[2017-05-15 06:44] #74 closed

[2017-06-03 17:57] aspnetlabs opened #75 "Support for FirstOrDefault or Single"
Could you please add support for FirstOrDefault or Single

[2017-06-03 18:56] StefH commented on #75
Take a look at https://github.com/StefH/System.Linq.Dynamic.Core

- https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/DynamicQueryableExtensions.cs#L337
- https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/DynamicQueryableExtensions.cs#L1240

[2017-07-10 23:59] dazinator commented on #62
Any further news on this?

[2017-07-11 06:31] StefH commented on #62
@dazinator Just switch to [System.Linq.Dynamic.Core](https://github.com/stefh/System.Linq.Dynamic.Core)

[2017-07-11 10:44] dazinator commented on #62
Ah lovely, cheers.

[2017-08-08 10:15] michi2142 opened #77 "Aggregate method does not work with Average function"
If I call the Aggreate method in DynamicLinq-class, an exception will be thrown, if I pass a field which has type int, int?, double, double? ...
The problem is in line 163: m.ReturnType == property.PropertyType. This is not correct for Average function because of its method definition. We should compare whether the passed parameter to function matchs the type of field and not the return value type

[2017-08-08 15:37] StefH commented on #77
Can you please post a code sample which tests this functionality ?

[2017-08-09 06:51] michi2142 commented on #77
See also #78 as solution for this problem.

[2017-08-29 14:51] ryanvgates commented on #72
@jupagose What about the versions in between (1.0.6, 1.0.5)? Do you get the same error?

[2017-08-29 18:20] StefH commented on #77
Solved in https://github.com/StefH/System.Linq.Dynamic.Core

Get latest from NuGet

[2017-11-16 06:53] swapnilslomate opened #79 "OrderBy with multiple properties with comma does not work"
If I pass expression like Category DESC, Name ASC then it does not considers Name sorting at all.

Is anyone facing same issue. I checked same for Linq to Entities as well as Linq to Object.

I and using Version 1.0.7.

[2017-11-16 09:16] StefH commented on #79
Can you check the unit tests and code at https://github.com/StefH/System.Linq.Dynamic.Core to see if that project works?

[2017-12-01 13:24] ricfwolff opened #80 "NoAggregateException when using OrderBy on a class that inherits IEnumerable"
I have a class called `AttributeList` that inherits `Dictionary<string, string>`. My class have a method called `GetAttribute()` that returns a string.
I'm trying to OrderBy a list of orders by the result of the `GetAttribute` method:

`myCoplexObjectList.OrderBy("Operation.Order.AttributeList.GetAttribute(\"my_attr\")")`

But it's throwing NoAggregateException because it is trying to find the `Ge

[2018-01-03 09:08] SuperJMN opened #82 "System.Linq.Dynamic.Core.Exceptions.ParseException: 'No property or field 'Id' exists in type 'Object''"
I'm getting this exception inside this method:

![image](https://user-images.githubusercontent.com/3109851/34514367-72127b68-f06d-11e7-8bbe-657c6e0fed6c.png)

The `IQueryable<object>` parameter in the method contains a queryable created from an `Enumerable.AsQueryable()` over a list of an anonymous type. The anonymous type has an "Id" property.

The only way to solve the issue is to use a named ty

[2018-03-22 18:33] jprimke commented on #31
Hello

This issue occurs again,
![image](https://user-images.githubusercontent.com/1974732/37790713-9a1b3ac8-2e07-11e8-94e9-c11699d5f2e4.png)

VS 2017 15.6.3 with .net core SDK 2.1.200-preview-007474

Could you explain why?

Thanks in advance.

Joerg

[2018-03-24 14:26] moh-hassan opened #84 "Feature Support: GetPredicate from string expression"
Some methods like `List<T>.Find(predicate)` need Predicate<T>.
To support Predicate<T> from string expression, I implemented the following Static Method

			public static Predicate<T> GetPredicate<T>(string stringExpression)
			{
				var exp = DynamicExpression.ParseLambda<T, bool>(stringExpression).Compile();
				var predicate = new Predicate<T>(exp);
				return predicate;
			}
If you wish, you c

[2018-06-05 16:38] AlenToma opened #86 "Support for .net core 2 and .net standard is missing"
Hi i have needed this library unfortunately nuget package does not support .net core and .net standard.
so i have copied your code and made the necessary changes.
Here have a look at the code changes you may find it usefull
https://github.com/AlenToma/EntityWorker.Core/blob/master/Source/EntityWorker.Core/Helper/DynamicLinq.cs

[2018-06-05 19:30] StefH commented on #86
An updated version which supports .net core and .netstandard can be found here:
https://github.com/StefH/System.Linq.Dynamic.Core

[2018-06-05 19:32] AlenToma commented on #86
jag but it can not convert string to Expression it missing DynamicExpression.ParseLambda which im intressted in

[2018-06-05 20:05] StefH commented on #86
That class is now public again, however you should actually use `DynamicExpressionParser`

[2018-06-05 20:06] AlenToma commented on #86
thx

[2018-06-05 20:06] #86 closed

[2018-06-15 03:39] ryanvgates commented on #31
@jprimke I apologize for not getting back to you sooner, but can you create a new issue for this with reproduction steps?

[2018-06-15 03:41] ryanvgates commented on #55
Unfortunately, I don't have the bandwidth to work on this right now. I'd recommend using https://github.com/StefH/System.Linq.Dynamic.Core

[2018-06-15 03:41] #55 closed

[2018-06-15 03:43] ryanvgates commented on #59
Unfortunately I don't have the bandwidth to work on this right now, but I believe that you can [sign already built assemblies](https://stackoverflow.com/q/1379954/299327).

[2018-06-15 03:43] #59 closed

[2018-06-15 03:45] ryanvgates commented on #65
The only source for this that I'm aware of would be the [commit history for this repo](https://github.com/kahanu/System.Linq.Dynamic/commits/master). I don't know of any other changes.

[2018-06-15 03:45] #65 closed

[2018-06-15 03:47] ryanvgates commented on #69
Unfortunately I don't have the bandwidth to fix this right now.

[2018-06-15 03:47] #69 closed

[2018-06-15 03:48] ryanvgates commented on #71
Unfortunately I don't have the bandwidth to work on this right now. I'd recommend following @otykier 's workaround for the time being.

[2018-06-15 03:48] #71 closed

[2018-06-15 03:49] ryanvgates commented on #72
This assembly is not signed at this time. I haven't gotten a response back from @jupagose either.

[2018-06-15 03:49] #72 closed

[2018-06-15 03:50] ryanvgates commented on #73
Awesome! Thanks for the contribution @MNF .

[2018-06-15 03:50] #73 closed

[2018-06-15 03:51] ryanvgates commented on #75
Unfortunately I don't have bandwidth to add features at this time. I'm closing this for now.

[2018-06-15 03:51] #75 closed

[2018-06-15 03:53] ryanvgates commented on #79
I'm going to close this due to a lack of response from @swapnilslomate

[2018-06-15 03:53] #79 closed

[2018-06-15 03:55] ryanvgates commented on #82
@SuperJMN Can you provide enough code to reproduce the issue? And a pull request with unit tests if you'd like to suggest a change?

[2018-06-15 03:55] ryanvgates commented on #84
@moh-hassan Can you please submit a PR with unit tests and reference this issue? I'll take a look.

[2018-06-18 14:59] mabreuortega opened #87 "Sign .Net Assembly"
We are having issues to reference this Library from our signed assemblies. Will be nice to have a signed version of the assembly to be referenced.

[2018-06-27 10:17] chstorb opened #88 "Issue with Visual Studio 2017"
Non-functional changes in order to enable the project to open in released versions of Visual Studio newer than Visual Studio 2010 SP1 without impacting project behavior.

[2018-06-27 10:23] chstorb opened #89 "Enable case insensitive string comparisions"

[2018-06-28 15:07] ericnewton76 opened #92 "Type conversions dont seem to work."
Given a test obj:
[code]

if you try to build the expression with string values, the type conversion fails right away:

[code]

[2018-06-28 19:01] StefH commented on #92
This does work in https://github.com/StefH/System.Linq.Dynamic.Core

[2018-06-28 19:13] ericnewton76 commented on #92
Indeed, I'll close this if I get it working with that library instead.

[2018-07-23 12:22] In8Beats commented on #82
I've got this same issue. You'd actually need to provide a fair bit of convoluted code.
Essentially we're creating a dynamic object whose type is not known at run time. Imagine you have a collection of strings and then create an object with properties having names as per that collection...

// I've got a list of column names...give me a class type that has these properties
// I'll want to instanti

[2018-07-23 12:58] In8Beats commented on #66
The answer lies in this statement here...

Context: I have a 2d array of data rows and columns... I want to filter this data. To do so I create a collection of dynamic objects so I can then use dynamic linq to filter the list. but when I tried to do so I'd get the dreaded exception of no property or field 'xxxx' on Object etc.

The issues is because the collection/ienumerable or list I used to cre

[2018-07-23 12:59] In8Beats commented on #82
Hi guys, this isn't an issue in Dynamic Linq - or at least it's pretty straight forward to fix when you get your head around what's happened that leads to the error.

I hope this helps...

Context: I have a 2d array of data rows and columns... I want to filter this data. To do so I create a collection of dynamic objects so I can then use dynamic linq to filter the list. but when I tried to do so I

[2018-08-11 16:15] moh-hassan commented on #84
Have a look to  [PR](https://github.com/kahanu/System.Linq.Dynamic/pull/94)
Thanks

[2018-08-29 05:16] AminMozhgani opened #95 "Expression as variable in Linq"
Hi body,
Let's assume we have a variable called TOTAL and it should be replaced with AProperty + BProperty of CClass.
I have an IQyeriable set of CClass objects and I want to select (TOTAL + AProperty) from this set.
Is there any way that I can define TOTAL expression for my interpreter according to above scenario?

[2018-09-06 22:15] TWhidden commented on #66
This was helpful @In8Beats in my case.... I had a dynamic query, which would then be re-queried by another dynamic query resulting in the same issue.   Using your idea... got me past that issue.  Example for others who run across this:

`

            var q = queryable.Select(selectStatement);

            var dynamicResults = (await q.ToListAsync());

            var listOfDynamicType = (IList)Ac

[2018-10-17 06:36] Jainrohan343 opened #97 "Not able to compare two parameter"
ex. public class1
{
var1{get;set;}
var2{get;set;}
}
condition1="var1=1"  //This is working fine
condition2="var1=var2"
how to do data.where(condition2) with dynamic linq lib.

[2018-10-22 19:09] StefH commented on #97
[code]

https://dotnetfiddle.net/AVUHcI

[2018-10-22 19:10] StefH commented on #92
@ericnewton76 Any luck ?

[2018-10-23 05:16] ericnewton76 commented on #92
I don't remember what I ended up doing.  I think it's still like that, so it'll probably fail.

I'm using it to try to build queries via REST api's and passing the query almost directly into LINQ Dynamic: /api/endpoint?fieldname[eq]=value&integerfield[greaterThan]=10

I believe right now the integerField will fail because of the need to convert string "10" to int 10.

I'll check sometime this week

[2018-10-23 05:50] StefH commented on #92
In your scenario, using OData is also an option, it has parsing query parameters build in.

[2018-11-09 11:37] lafar6502 opened #98 "Creating arrays, lists or dictionaries with initializers"
Hi, i've got a question - i'm using linq.dynamic for Select call and would like to return an array (object[]) or a dictionary (Dictionary<string, object>) from the Select, but i'm not sure if this is supported at all. The only documented case is returning an anonymous data class via new(......) - but  this is not a data structure that's easy to work with in dynamic scenario.
So, the question - how

[2019-04-11 13:58] priyanka2409 opened #101 "System.Linq.Dynamic.ParseException: 'No property or field 'x' exists in type 'Int32''"
List<int> listSuper = new List<int>() { 1, 2 };
            List<int> list = new List<int>() { 2 };

            string expression = "list.Any(x => listSuper.Contains(x))";
            var data = new Dictionary<string, object>() { { "listSuper", listSuper }, { "list", list } };

            var body = System.Linq.Dynamic.DynamicExpression.Parse(typeof(bool), expression, data);
            LambdaEx

[2019-04-11 17:22] StefH commented on #101
I think you need to use:
[code]

[2019-04-12 05:25] priyanka2409 commented on #101
By replacing expression given by you still facing issue.

This is generated lambda expression:  {() => value(System.Collections.Generic.List`1[System.Int32]).Any(Param_0 => value(System.Collections.Generic.List`1[System.Int32]).Contains(Param_1))}

Error is: System.InvalidOperationException: 'variable '' of type 'System.Int32' referenced from scope '', but it is not defined'

[2019-04-12 12:53] StefH commented on #101
At least for **System.Linq.Dynamic.Core**, this code works

[code]

[2019-05-06 08:46] njabulomp commented on #101
Hi, I am experiencing a similar issue, I am trying to use with NewtonSoft.JToken objects.

string query = string.Format($@"Twin.Tags[""TenantId""].Value<string>() = 2");
var deviceItems = devices.Items.AsQueryable().Where(query).ToList();

Can anyone assist please?

[2019-08-14 13:33] AxxlForce commented on #101
I have the same problem.

My source is a List of objects that all have a property ID (which is Int32), and my predicate is (@0.Contains(it.ID))

This used to work perfectly fine until I migrated to .net core and thus System.Linq.Dynamic. I just don't see anything wrong with the code. This is the error I get:

No property or field 'ID' exists in type 'Int32'

[2019-08-14 14:05] StefH commented on #101
Using System.Linq.Dynamic.Core and using a List, this just works fine.

[code]

https://dotnetfiddle.net/MeMUi0

[2019-08-14 14:09] AxxlForce commented on #101
Thanks for the swift response! Indeed, that does work exactly as I'd expect my case to work... I'll try to find something different in my code.

[2019-08-14 14:30] AxxlForce commented on #101
Wow, ok I don't fully understand what just happend but now it works:

First I wasn't able to run your fiddle under .net core 2.2. When I add System.Linq.Dynamic.Core as nuget package it doesn't build saying:

"Compilation error (line 4, col 19): The type or namespace name 'Dynamic' does not exist in the namespace 'System.Linq' (are you missing an assembly reference?)"

I then checked the using ref

[2019-08-14 14:58] StefH commented on #101
This project has NuGet `System.Linq.Dynamic` and I did start a fork (https://github.com/StefH/System.Linq.Dynamic.Core) and named the NuGet `System.Linq.Dynamic.Core`.  But my version supports more frameworks and has more functionality.

Does this answer your question?

[2019-08-14 15:06] AxxlForce commented on #101
Sort of.. what I still don't understand is why I was able to use declare "using System.Linq.Dynamic;" in my code (resulting in illogical runtime errors) while I had only System.Linq.Dynamic.Core installed as NuGet package.

[2019-12-05 12:25] MRezaSafari opened #102 "Documentation is sucks !"
Hello sir!

have you ever see the wiki pages by your self?

look this mess https://github.com/kahanu/System.Linq.Dynamic/wiki/LINQ-Project-Overview

[2019-12-08 08:31] #102 closed

[2019-12-11 01:29] ryanvgates commented on #102
I'd like to add some context to this conversation. I was in the process of converting the documentation into markdown from it's original word format. I thought this would help make it more accessible. Unfortunately it turned out to be a non-trivial task and other professional/personal priorities came up. I agree that it could be better.

[2019-12-30 21:51] ascott18 opened #103 "Default handling of parameters breaks EF Core query caching"
First off, an excellent explanation of the issue at hand can be found at https://dzone.com/articles/investigating-a-memory-leak-in-entity-framework-co - I'd recommend reading (or at least skimming through) for context.

Now, for example, consider the following query:
[code]

This will capture both min and max into `Expression.Constant`s, which then causes EF to create a unique cache entry for that

[2019-12-30 21:54] ascott18 commented on #103
Disregard - this was meant for https://github.com/StefH/System.Linq.Dynamic.Core

[2019-12-30 21:54] #103 closed

[2020-04-30 15:24] mhosman opened #104 "Cannot use with EF.Functions.ILike(anything, "%aaa%")"
I get error:

[2020-04-30 18:13] StefH commented on #104
Which NuGet do you use?

[2020-04-30 19:28] mhosman commented on #104
Hey @StefH sorry, I'll move this to System.Linq.Dynamic.Core repo.

[2020-04-30 19:28] #104 closed

[2020-06-23 18:46] JonathanMagnan opened #105 "Dynamic LINQ - Repository Future"
See the following issue to keep the conversion in one thread: https://github.com/zzzprojects/System.Linq.Dynamic.Core/issues/392